<div class="card">
    <div class="card-body">

        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti mollitia officiis necessitatibus quasi
            voluptas, ut tempora numquam assumenda placeat molestias nobis error dolorum sed. Ea quos placeat debitis
            corporis explicabo?</p>

    </div>
</div>