<div class="card mt-2 mx-auto justify-content-between align-items-center">
    <h1 class="display-4">Prueba tecnica</h1>
    <h3>Iniciar sesion</h3>
    <div class="form-group mb-2">
        <form action="/user/signin" method="post">
            <input type="hidden" name="_method" value="">
            <button class="btn btn-secondary btn-sm mt-2 mb-2 align-item-center" type="submit">
                <h6>Iniciar Sesion</h6>
            </button>
    </div>
    <div class="form-group mb-2">
        <p>¿No tienes cuenta?, <a href="/user/signup">Registrate</a></p>
    </div>
    </form>
</div>