<div class="row">
    <h1>Datos</h1>
    {{#each notes}}
    <div class="col-md-4 mt-3 mx-auto justify-content align-item-center">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        <!-- name, code, description, amount, unit_value -->
                        <h3>Producto: </h3>{{name}}
                    </h4>
                    <h4>
                        <p>
                        <h4>Description: </h4> {{description}}</p>
                        <p>
                        <h4>Codigo: </h4>{{code}}</p>
                        <p>
                        <h4>Cantidad: </h4>{{amount}}</p>
                        <p>
                        <h4>Valor unitario: </h4>{{unit_value}}</p>

                        <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger btn-sm" type="submit">
                                <h6>Eliminar</h6>
                            </button>
                    </h4>
                    </form>
                    <form action="/note/edit/{{_id}}?_method=EDIT">
                        <input type="hidden" name="_method" value="EDIT">
                        <button class="btn btn-primary btn-sm" type="submit">
                            <h6>Editar</h6>
                        </button>
                    </form>
                    <form action="/note/bill/{{_id}}?_method=POST">
                        <input type="hidden" name="_method" value="">
                        <button class="btn btn-secondary btn-sm mt-2" type="submit">
                            <h6>Facturar</h6>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <form action="/notes/new-notes" method="post">
            <button class="btn btn-success position-absolute top-100 start-50 translate-middle" type="submit">Añadir
                nuevo</button>
        </form>
    </div>
    {{else}}
    <div class="card col-md-3 mt-4 mx-auto justify-content-between align-item-center">
        <div class="card-body ">
            <p class="lead">No hay datos para mostrar</p>
            <a href="/note/add" class="btn btn-success btn-block">crear</a>
        </div>
    </div>
    {{/each}}
</div>