<div class="card col-md-3 mt-4 mx-auto justify-content-between align-item-center">
    <div class="card">
        <div class="card-header">
            <h1>Editar</h1>
            <div class="card-body">
                <form action="/notes/bill/{{note._id}}?_method=put" method="post">
                    <input type="hidden" name="_method" value="put">
                    <form action="/notes/bill" method="post">
                        <div class="form-group mb-2">
                            <input type="text" name="name" class="form-control" placeholder="Nombre producto"
                                value="{{note.name}}" readonly="readonly" autofocus>
                        </div>
                        <div class="form-group mb-2">
                            <input type="text" name="code" class="form-control" placeholder="Codigo"
                                value="{{note.code}}" readonly="readonly">
                        </div>
                        <div class="form-group mb-2">
                            <textarea name="description" class="form-control" placeholder="Descripcion"
                                readonly="readonly">{{note.description}}</textarea>
                        </div>
                        <div class="form-group mb-2">
                            <textarea name="razonsocial" class="form-control" placeholder="Razon social"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <input type="number" name="amount" class="form-control" placeholder="Cantidad"
                                value="{{note.amount}}" readonly="readonly">
                        </div>
                        <div class="form-group mb-2">
                            <input type="number" name="unit_value" class="form-control" placeholder="Valor unitario"
                                value="{{note.unit_value}}" readonly="readonly">
                        </div>
                        <div class="form-group mb-2">
                            <input type="number" name="value_iva" class="form-control" placeholder="Valor con iva"
                                value="{{note.unit_value}}" readonly="readonly">
                        </div>
                        <div class="form-group mb-2">
                            <input type="number" name="value_Niva" class="form-control" placeholder="Valor sin iva"
                                value="{{note.unit_value}}" readonly="readonly">
                        </div>
                        <div class="form-group mb-2">
                            <button class="btn btn-primary btn-block" type="submit">Actualizar</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>