<div class="card col-md-3 mt-4 mx-auto justify-content-between align-item-center">
    <div class="card">
        <div class="card-header">
            <h1>Editar</h1>
            <div class="card-body">
                <form action="/notes/edit-noter/{{note._id}}?_method=put" method="post">
                    <input type="hidden" name="_method" value="put">
                    <form action="/notes/new-notes" method="post">
                        <div class="form-group mb-2">
                            <input type="text" name="name" class="form-control" placeholder="Nombre producto"
                                value="{{note.name}}" autofocus>
                        </div>
                        <div class="form-group mb-2">
                            <input type="text" name="code" class="form-control" placeholder="Codigo"
                                value="{{note.code}}">
                        </div>
                        <div class="form-group mb-2">
                            <textarea name="description" class="form-control"
                                placeholder="Descripcion">{{note.description}}</textarea>
                        </div>
                        <div class="form-group mb-2">
                            <input type="number" name="amount" class="form-control" placeholder="Cantidad"
                                value="{{note.amount}}">
                        </div>
                        <div class="form-group mb-2">
                            <input type="number" name="unit_value" class="form-control" placeholder="Valor unitario"
                                value="{{note.unit_value}}">
                        </div>
                        <div class="form-group mb-2">
                            <button class="btn btn-primary btn-block" type="submit">Actualizar</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>