<div class="card col-md-3 mt-4 mx-auto justify-content-between align-item-center">
    <div class="card">
        <div class="card-header">
            <h3>Ingresar producto</h3>
        </div>
        <div class="card-body">
            <!--name, code, description, amount, unitvalue-->
            <form action="/notes/new-notes" method="post">
                <div class="form-group mb-2">
                    <input type="text" name="name" class="form-control" placeholder="Nombre producto" autofocus>
                </div>
                <div class="form-group mb-2">
                    <input type="text" name="code" class="form-control" placeholder="Codigo">
                </div>
                <div class="form-group mb-2">
                    <textarea name="description" class="form-control" placeholder="Descripcion"></textarea>
                </div>
                <div class="form-group mb-2">
                    <input type="number" name="amount" class="form-control" placeholder="Cantidad">
                </div>
                <div class="form-group mb-2">
                    <input type="number" name="unit_value" class="form-control" placeholder="Valor unitario">
                </div>
                <div class="form-group mb-2">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>