<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Iniciar sesion</h1>
            </div>
            <div class="card-body">
                <form action="/user/signin" method="POST">
                    <div class="form-group mb-2">
                        <input type="email" name="email" class="form-control" placeholder="Correo">
                    </div>
                    <div class=" form-group mb-2">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="form-group mb-2">
                        <form action="/user/signin" method="post">
                            <input type="hidden" name="_method" value="">
                            <button class="btn btn-primary" type="submit">
                                Iniciar Sesion
                            </button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>