<div class="row">
    <div class="col-md-5 mt-4 mx-auto justify-content-between align-item-center">
        <div class="card">
            <div class="mx-auto card_header justify-content-between align-item-center">
                <h1>Registro de usuarios</h1>
                <div class="card-body">
                    <form action="/user/signup" method="POST">
                        <div class="form-group mb-2">
                            <input type="text" name="username" class="form-control" placeholder="nombre"
                                value="{{username}}" autofocus>
                        </div>
                        <div class="form-group mb-2">
                            <input type="email" name="email" class="form-control" placeholder="Correo"
                                value="{{email}}">
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña"
                                value="{{password}}">
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="confirm_password" class="form-control"
                                placeholder="Confirmar contraseña" value="{{confirm_password}}">
                        </div>
                        <div class="form-group mb-2">
                            <button type="submit" class="btn btn-primary btn-block">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>